@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
.brand-logo {
    font-family: "Grand Hotel", cursive;
}

h2 {
    font-family: "Grand Hotel", cursive;
}

a {
    color: black !important;
}

.mycard {
    margin-top: 30px;
}

.auth-card {
    padding: 20px;
    text-align: "center";
    max-width: 600px;
    margin: 10px auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 390px;
    margin-top: 15px;
    height: 300px;
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

#toast-container {
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}